::-webkit-scrollbar {
    width: 17px;
}
 
::-webkit-scrollbar-track {
    background: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    background: #66879B;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}

body {
    color: #fff;
    margin: 0 auto;
    overflow-x:hidden;
    line-height: 1.7em;
    font-family: 'Open Sans', sans-serif;
    background:url(https://745ee71aa6c1f4da35d12eaf0110b243e8cd44c8.googledrive.com/host/0B9LVk4xbDIJTdGwyWGEwcmhRcFU);
}
a{
    text-decoration: none;
}
#Stage{
    margin-top: -27px;
}
.nav-header{
    transition: 0.333s;
    margin: 73px auto auto 173px;
}
    .main-menu-scrolled{
        background: url(https://745ee71aa6c1f4da35d12eaf0110b243e8cd44c8.googledrive.com/host/0B9LVk4xbDIJTdGwyWGEwcmhRcFU) 0 97px;
        border-bottom: 7px solid #005EAC !important;
        height: 93px;
    }
        .main-menu-scrolled ul.nav-header li{
            /*border-bottom-left-radius: 3px;*/
            /*border-bottom-right-radius: 3px;*/
        }
        .main-menu-scrolled .nav-header{
            margin: 14px auto auto 173px;
        }
        .main-menu-scrolled .logo-link{
            margin: -20px 13px -22px 90px !important;
        }
        .main-menu-scrolled .we-bitcoin{
            top: 30px;
            color: #fff;
        }
        .main-menu-scrolled .bitcoin-icon{
            fill: #A3B7DE;
        }
    svg.hero-circle{
        position: absolute;
        right: 0;
        top: 0;
    }
    svg.hero-circle circle{
        fill: rgba(255, 255, 255, 0.21);
    }

.muted{
    opacity: 0.7;
}

.logo-link{
    margin: -3px 13px -22px 90px !important;
    height: 90px !important;
    padding: 5px 12px !important;
    float: left;
}
    .logo-link img{
        margin: 18px 0 0 0;
        width: 134px;
        /* background: #fff;
        border-radius: 66px; */
    }

#stageOne{
    z-index:2;
    margin: -94px -111px 0 630px;
    position: absolute !important;
}
    .Stage_Text2_id, #Stage_webAppTab_Text2Copy{
        top:-2px !important;
    }

    #Stage_website_urlText, #Stage_app_urlText{
        top:3px !important;
    }
    #stageTwo{
        margin: -25px 0 0 -3px;
    }

.pira-rib{
    height: 248px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.white-font{
    color: #fff !important;
}

.slogan{
    width: 448px;
    margin: 47px auto auto auto;
    display: block;
    font-size: 25px;
    line-height: 38px;
}

    .slogan .pure-button{
        border-radius: 13px;
        margin: -129px 3px auto;
        padding: .3em 1.4em .3em .7em;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .slogan h2{
        font-weight: 200;
        line-height: 53px;
        margin-bottom: 20px;
    }

.splash-btn-icon{
    position: absolute;
    margin: 4px 0 0 -24px;
    width: 30px;
    height: 30px;
    background-color: #005EAC;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-position: 0px 0px;
    background-repeat:no-repeat;
    display: block;
    clear: none;
    box-shadow: -1px -1px rgba(0,0,0,0.1);
}
#appBtn{
    background: #E40808; background: rgba(228, 8, 8, 0.18);
    border: 2px solid #E40808;
    padding: 0.3em 1.3em .2em .6em;
}
    #appBtn i{
        font-size: 29px;
        color: #fff;
    }
    #appBtnIcon{
        background-size: 114%;
        -webkit-background-size: 114%;
        background-image: url(/icons/iconmonstr-window-apps-icon.svg);
    }
    #appBtnText{
        color: #fff;
    }

#mblBtn{
    background: #0078e7;
    background: rgba(0, 120, 231, 0.35);
    border: 2px solid #0078e7;
}
#mblBtnIcon{
    background-size: 115%;
    -webkit-background-size: 115%;
    background-image: url(/icons/iconmonstr-mobile-phone-5-icon.svg);
}

#appBtnText, #appMblText{
    line-height: 28px;
    margin: 0 -18px 0 1px;
    vertical-align: top;
}
#main-menu{ 
	transition: 0.333s;
	-webkit-transition: 0.333s;
}
.pure-menu.pure-menu-open.pure-menu-fixed{border-bottom:0;}
.pure-menu-fixed{left:auto;}

.l-box {
    padding: 1em;
}

.header {
    text-align: center;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu a{
            color: #E7EFF5;
        }

        .header .pure-menu .pure-menu-selected a, .header .pure-menu a:hover{
            color: #005EAC !important;
        }

        .header .pure-menu li{
            /*border-radius: 3px;*/
            /*border: 1px solid rgba(0, 94, 172, 0.07);*/
            display: inline-block;
            padding: 13px 33px;
            float: left;
            margin: auto 3px auto;
            /*border-bottom-left-radius: 0;*/
            /*border-bottom-right-radius: 0;*/
        }

        .header .pure-menu li:hover,
        .header .pure-menu li:focus {
            /*background: none;*/
            color: #aaa;
            /*border: 1px solid rgba(0, 94, 172, 1);*/
        }

        .header .pure-menu li a:active{
            color: #000 !important;
            border: 1px solid rgba(0, 0, 0, 1);
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    height: 251px;
    padding: 3em 0;
    border-radius: 13px;
    background: #005EAC url(https://3b1014479e60a166ba9ba71bdea37b36463bf4d9.googledrive.com/host/0B9LVk4xbDIJTZ0FUbXk0a1hjcHM) bottom no-repeat;
    margin: 109px auto 0;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }

.splash-circle{
    margin: auto;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.accept-li{
    border: none !important;
}
.accept-b{
    margin: 0 0 0 29%;
}
.we-bitcoin{
    width:233px;
    cursor: pointer;
    text-align: right;
    border: none !important;
    position:fixed;
    top: 60px;
    margin: auto auto auto 51px;
}
    .bitcoin{
        width: 45px;
        border: none !important;
        margin: -8px 0 0 10px;
        position: absolute;
     }
        .bitcoin-icon{
            height: 44px;
            fill: #005EAC;
        }

.content{
    max-width: 1080px;
    margin: 0 auto;
}

    .content .content-subhead {
        color: #fff;
        padding: 0.4em .8em 0.2em;
        text-transform: uppercase;
        margin: 8px 0 0 0px;
        border-bottom: 1px solid #005EAC;
        display: block;
        width: 665px;
    }

    .content .content-ribbon {
        margin: 3em 0;
        border-radius: 13px;
        background: rgb(0, 94, 172);
        /*border: 3px solid rgba(0, 94, 172, 1);*/
    }
    .our-perspective{
        padding: 33px 111px;
        background: rgb(0, 94, 172);
        background: rgba(0, 94, 172, 0.55) !important;
    }

.pira-home-cap{
    border-right: 2px solid rgb(0, 94, 172);
    border-top-right-radius: 13px;
    border-top: 2px solid rgb(0, 94, 172);
    background: #fff;
    border-bottom-left-radius: 25px;
    box-shadow: 1px -1px rgba(0, 39, 71, 0.1);
}

.pira-rib{
    background: #005EAC;
}

.pira-logo{
    margin: 35px 0 0 13px;
}

.node-home-capsule{
    height: 240px;
    background: #005EAC;
    margin: auto;
    display: block;
    float: left;
    width: 327px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
    .node-box{
        height: 240px;
        width: 707px;
        background: #fff;
        border-radius: 21px;
        box-shadow: -4px 1px rgba(0, 39, 71, 0.1);
    }
    .node-home-img{
        margin: 66px auto;
    }

.docpad-logo{
    width:14%;
}
    .docpad-logo-white{
        height: 25px;
        width: 115px;
        margin: 0 0 -5px 0;
    }
    .docpad-subhead{
       padding: 0.4em .8em 0.6em !important;
    }
    #stageTwo_docpad-key-bottom{
        fill:#fff;
    }

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

    .footer-ribbon{
        width: 88%;
        margin: auto;
        color: #fff; /* #005EAC */
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        background: #002D42 url(https://745ee71aa6c1f4da35d12eaf0110b243e8cd44c8.googledrive.com/host/0B9LVk4xbDIJTdGwyWGEwcmhRcFU) 0 -140px;
    }

.footer {
    background: #005EAC;
    color: #fff;
    text-align: center;
    font-size: 80%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

/* Portrait and Landscape */
@media screen and (max-height: 640px) {
        .logo-link{ margin: -3px 13px -22px 0px !important;}
            .logo-link img{margin: 7px 0 0 0;}
            .header .pure-menu li{padding: 3px 7px;}
            .nav-header{margin: 73px auto auto 121px;}
            .we-bitcoin{display:none;}
            .main-menu-scrolled .logo-link {
                margin: -10px 13px -22px 0px !important;
            }
            .main-menu-scrolled .nav-header {
                margin: 25px auto auto 135px;
            }
}